label, input {
  display: block;
}

label {
  font-weight: 600;
  text-indent: .4rem;
}

input:not([type=submit]), select {
  width: 100%;
  padding: .5rem .8rem;
  background-color: white;
  border-radius: var(--border-radius-custom);
  border: 1px solid var(--color-custom);
  &:focus, &:focus-visible {
    outline: 1px solid var(--color-primary);
    background-color: var(--color-gray-200)!important;
  }
}
fieldset {
  position:relative;
}
fieldset > [role="alert"]{
  position: absolute;
  top: 100%; left: .5rem;
  font-size: .8rem;
  line-height: 1em;
}

input:not([type=submit]):not(:placeholder-shown) {
  background-color: white!important;
}

input[type=checkbox] {
  width: 15px !important;
  margin-block: 0px;
}

input[aria-invalid=true] {
  outline: 1px solid var(--color-red-300) !important;
}

input[type=submit]:disabled{
  opacity:.5;
  cursor: not-allowed;
}