label, input {
  display: block;
}

label {
  font-weight: 600;
  text-indent: .4rem;
}

input {
  width: 100%;
  padding: .5rem .8rem;
  background-color: white;
  border-radius: var(--border-radius-custom);
  border: 1px solid var(--color-custom);
  &:focus, &:focus-visible {
    outline: 1px solid var(--color-primary);
  }
}

input[type=checkbox] {
  width: 15px !important;
  margin-block: 0px;
}

input[type=submit]:disabled{
  opacity:.5;
  cursor: not-allowed;
}