@import "tailwindcss";

:root {
  --border-radius-custom: 16px;
}

@theme {  
  --font-body: "Karla", sans-serif;
  --font-heading: "Markazi Text", serif;

  --color-primary: #495E57;
  --color-secondary: #F4CE14;
  --color-custom: #EDEFEE;
}

html {
  font-family: var(--font-body);
  overflow-x: hidden;;
}

/* Fonts */
.karla {
  font-family: var(--font-body);
}

.markazi {
  font-family: var(--font-heading);
}

/* Headings */
h1,.h1,h2,.h2,h3,.h3,h4,.h4 {
  font-family: var(--font-heading);
  font-weight: 500;
}

h1, .h1 {
  font-size: 55px; 
  line-height: .9em;
}

h2, .h2 {
  font-size: 30px; 
  line-height: 1.25em;
}

/* Utilities */
.rounded {
  border-radius: var(--border-radius-custom);
}

p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

button, .button {
  padding: 8px 16px;
  background-color: var(--color-secondary);
  color: #000;
  border-radius: var(--border-radius-custom);
  border: 1px solid transparent;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    opacity:.9;
    border: 1px solid #888;
    box-shadow: 0px 4px 5px #444;
  }
  &:active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

}

/* Specials */
#specials {
  margin-block: 30px 0px;
  padding-bottom: 1rem;
  /* display: flex; flex-direction: row; align-items: flex-start; flex-wrap: nowrap; */
  display: grid;
  grid-auto-flow: column; 
  grid-template-rows: 1fr; 
  grid-template-columns: max-content; 

  gap: 1rem;
  overflow-x:auto;
}


#specials > .card {
  width: 250px; height: 100%; flex: none;
  background-color: var(--color-custom);
  border-radius: var(--border-radius-custom);
  & .card-img img{
    width: 100%;height: 200px; object-fit: cover;
    border-top-left-radius: var(--border-radius-custom);
    border-top-right-radius: var(--border-radius-custom);
  }
  & .card-body {
    padding: .5rem;
  }
  .card-title {
    font-size: 1.25rem;
  }
  .link-delivery {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    font-weight: 600;
    gap: .5rem;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}